body {
  padding: 50px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14px;
  color: #ddd;
  background-color: #333;
}

section {
  width: 500px;
  max-width: 100%;
}

a {
  color: #00B7FF;
}
